{% extends 'main/base.html' %}
{% block title %}
test
{% endblock %}
{% block link %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.22/b-1.6.5/b-colvis-1.6.5/sc-2.0.3/sb-1.0.1/sp-1.2.2/datatables.min.css"/>

{% endblock %}

{% block content %}
<table class="table table-bordered table-dark align-middle mt-4 my_datatable">
                <thead>
                <tr class="bg-warning text-dark">
                    <th>Код договора</th>
                    <th>Код заявки</th>
                    <th>Дата составления заказа</th>
                    <th>Дата операции</th>
                    <th>Сотрудник</th>
                    <th>Покупатель</th>
                    <th>Продавец</th>
                    <th>Цена недвижимости</th>
                    <th>Прибыль</th>
                </tr>
                </thead>
                <tbody>
                {% for el in selled_prop %}
                    <tr>
                        <td class="align-middle">{{ el.contractCode }}</td>
                        <td class="align-middle">{{ el.applicationCode }}</td>
                        <td class="align-middle">{{ el.applicationCode.dateOfOrder }}</td>
                        <td class="align-middle">{{ el.dateOfOperation }}</td>
                        <td class="align-middle">{{ el.employee }}</td>
                        <td class="align-middle">{{ el.buyer }}</td>
                        <td class="align-middle">{{ el.applicationCode.seller }}</td>
                        <td class="align-middle">{{ el.applicationCode.price }}</td>
                        <td class="align-middle">{{ el.profit }}</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                </tfoot>
            </table>
{{ selled_prop }}
{% endblock %}
{% block script %}

<script type="text/javascript"
        src="https://cdn.datatables.net/v/bs4/dt-1.10.22/b-1.6.5/b-colvis-1.6.5/sc-2.0.3/sb-1.0.1/sp-1.2.2/datatables.min.js">
</script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-vue/2.20.1/bootstrap-vue.min.js"></script>
    <script src="/static/empty.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

<script>
        $.extend($.fn.dataTable.defaults, {
            language: {
                "lengthMenu": "Показывать по _MENU_ записей на странице",
                "emptyTable": "Нет данных в таблице",
                "info": "Показаны страницы _PAGE_ из _PAGES_",
                "infoEmpty": "Нет доступных записей",
                "infoFiltered": "(Отфильтровано из _MAX_ записей)",
                "loadingRecords": "Загрузка...",
                "processing": "Процессинг...",
                "search": "Поиск:",
                "zeroRecords": "Извините, ничего не найдено",
                "paginate": {
                    "first": "Первая",
                    "last": "Последняя",
                    "next": "Следующая",
                    "previous": "Предыдущая",
                },
                "aria": {
                    "sortAscending": ": Сортировка по возрастанию",
                    "sortDescending": ": Сортировка по убыванию"
                }
            },
        });
        $('.my_datatable').DataTable({

        });
    </script>
{% endblock %}

